
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.explain-result {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #383333;
  width: 100%;
  height: 400px;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.explain-result-content {
  overflow-y: auto;
  max-height: 300px;
}

.button-card-detail {
  transform: rotateY(180deg) translate(-50%,-50%);
  position: absolute;
  font-size: 12px;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  bottom: -5px;
  left: -20px;
  z-index: 1000;
  text-decoration: underline;
  cursor: pointer;


}
